[submodule "muk-it/muk_base"]
	path = muk-it/muk_base
	url = git@github.com:muk-it/muk_base.git
	branch = 12.0

[submodule "muk-it/muk_web"]
	path = muk-it/muk_web
	url = git@github.com:muk-it/muk_web.git
	branch = 12.0
